<!DOCTYPE html>
<html>
  <head>
    <title>Kontaktliste</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>Email</td>
        <td>Vorname</td>
        <td>Nachname</td>
        <td>Straße, Hausnummer</td>
        <td>PLZ, Stadt</td>
        <td>Passwort</td>
        <td>Delete</td>
      </tr>
      <% for(var i = 0; i < kontakte.length; i++){ %>
      <tr>
        <td><%= kontakte[i].id %></td>
        <td><%= kontakte[i].email %></td>
        <td><%= kontakte[i].firstname %></td>
        <td><%= kontakte[i].lastname %></td>
        <td><%= kontakte[i].adress %></td>
        <td><%= kontakte[i].postcode %></td>
        <td><%= kontakte[i].password %></td>
        <td>
          <form action="/user_delete/<%= kontakte[i].id %>" method="post">
            <button type="submit">Löschen</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
    <br />
    <h2>Benutzer Hinzufügen</h2>
    <form action="/admin_user_register" id="register_button" method="post">
      <label for="register_email">E-Mail:</label><br />
      <input type="email" name="register_email" id="register_email" /><br />
      <label for="register_firstname">Vorname:</label><br />
      <input
        type="text"
        name="register_firstname"
        id="register_firstname"
      /><br />
      <label for="register_lastname">Nachname:</label><br />
      <input
        type="text"
        name="register_lastname"
        id="register_lastname"
      /><br />
      <label for="register_adress">Straße, Hausnummer:</label><br />
      <input type="text" name="register_adress" id="register_adress" /><br />
      <label for="register_postcode">PLZ, Stadt</label><br />
      <input
        type="text"
        name="register_postcode"
        id="register_postcode"
      /><br />
      <label for="register_password">Passwort:</label><br />
      <input
        type="password"
        name="register_password"
        id="register_password"
      /><br />
      <label for="register_password_repeat">Wiederholen:</label><br />
      <input
        type="password"
        name="register_password_repeat"
        id="register_password_repeat"
      /><br /><br />
      <input type="submit" value="Hinzufügen" />
    </form>
    <br />
    <h2>Benutzerdaten Updaten</h2>
    <h3>Benutzerdaten</h3>
    <form action="/admin_update_user" class="button" method="post">
      <label for="update_email">E-Mail:</label><br />
      <input type="email" name="update_email" id="update_email" /><br />
      <label for="update_firstname">Vorname:</label><br />
      <input type="text" name="update_firstname" id="update_firstname" /><br />
      <label for="update_lastname">Nachname:</label><br />
      <input type="text" name="update_lastname" id="update_lastname" /><br />
      <label for="update_adress">Straße, Hausnummer:</label><br />
      <input type="text" name="update_adress" id="update_adress" /><br />
      <label for="update_postcode">PLZ, Stadt</label><br />
      <input type="text" name="update_postcode" id="update_postcode" />
      <br /><br />
      <input type="submit" value="Daten Updaten" />
    </form>
    <br />
    <h3>Passwort</h3>
    <form action="/admin_update_password" class="button" method="post">
      <label for="update_email">E-Mail:</label><br />
      <input type="email" name="update_email" id="update_email" /><br />
      <label for="update_password">Neues Passwort:</label><br />
      <input
        type="password"
        name="update_password"
        id="update_password"
      /><br />
      <label for="update_password_repeat">Wiederholen:</label><br />
      <input
        type="password"
        name="update_password_repeat"
        id="update_password_repeat"
      /><br /><br />
      <input type="submit" value="Passwort ändern" />
    </form>
    <br />
    <%= message %>
  </body>
</html>
