<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/accountdetails_style.css"
    />
    <title>Accountdetails</title>
  </head>
  <body>
    <form action="/startseite" class="button" method="post">
      <button>Startseite</button>
    </form>
    <br />
    <form action="/speisekarte" class="button" method="post">
      <button>Speisekarte</button>
    </form>
    <br />
    <p class="cart">
      <button class="warenkorb_open" id="warenkorb_open">
        Warenkorb <span>0</span>
      </button>
    </p>
    <div class="warenkorb_container" id="warenkorb_container">
      <div class="warenkorb" id="warenkorb">
        <h1>Warenkorb</h1>
        <div class="product_container">
          <div class="product_header">
            <h5 class="product_title">PRODUKT</h5>
            <h5 class="price">PREIS</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
          </div>
          <div class="products"></div>
        </div>
        <br />
        <button class="warenkorb_close" id="warenkorb_close">X</button>
      </div>
    </div>
    <form action="/update_user" class="button" method="post">
      <p>Persönliche Daten</p>
      <label for="update_email">E-Mail:</label><br />
      <input
        type="email"
        id="update_email"
        name="update_email"
        value="<%= data[0].email %>"
      /><br />
      <label for="update_firstname">Vorname:</label><br />
      <input
        type="text"
        id="update_firstname"
        name="update_firstname"
        value="<%= data[0].firstname %>"
      /><br />
      <label for="update_lastname">Nachname:</label><br />
      <input
        type="text"
        id="update_lastname"
        name="update_lastname"
        value="<%= data[0].lastname %>"
      /><br />
      <p>Adresse</p>
      <label for="update_adress">Straße, Hausnummer:</label><br />
      <input
        type="text"
        id="update_adress"
        name="update_adress"
        value="<%= data[0].adress %>"
      /><br />
      <label for="update_postcode">PLZ, Stadt</label><br />
      <input
        type="text"
        id="update_postcode"
        name="update_postcode"
        value="<%= data[0].postcode %>"
      /><br /><br />
      <input type="submit" value="Kontaktinformationen anpassen" />
    </form>
    <form action="/update_password" class="button" method="post">
      <p>Passwort</p>
      <label for="update_password">Neues Passwort:</label><br />
      <input
        type="password"
        id="update_password"
        name="update_password"
      /><br />
      <label for="update_password_repeat">Wiederholen:</label><br />
      <input
        type="password"
        id="update_password_repeat"
        name="update_password_repeat"
      /><br /><br />
      <input type="submit" value="Passwort ändern" />
    </form>
    <form action="/user_delete" class="button" method="post">
      <label for="delete_email">Email:</label><br />
      <input type="email" class="delete_email" id="delete_email" /><br />
      <label for="delete_password">Passwort:</label><br />
      <input
        type="password"
        class="delete_password"
        id="delete_password"
      /><br />
      <label for="delete_password_repeat">Passwort:</label><br />
      <input
        type="password"
        class="delete_password_repeat"
        id="delete_password_repeat"
      /><br /><br />
      <input type="submit" value="Löschen" />
    </form>
    <p><%= message %></p>
    <br />
    <script src="javascript/accountdetails_javascript.js"></script>
  </body>
</html>
