<!DOCTYPE html>
<html>
  <head>
    <title>Accountdetails | Pizzajando</title>
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
    <link rel="stylesheet" type="text/css" href="css/images.css" />
    <link rel="stylesheet" type="text/css" href="css/kasse.css" />
    <link
      rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="css/general-style.css" />
    <link rel="stylesheet" type="text/css" href="css/accountdetails.css" />
    <link rel="stylesheet" type="text/css" href="css/variables.css" />
  </head>
  
  <!--Header-->
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ff8000" fill-opacity="0.9" d="M0,160L120,176C240,192,480,224,720,224C960,224,1200,192,1320,176L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
    </svg>
    <a class="logo colorchange" href="/">Pizzajando</a>
    <nav>
        <ul class="nav-list">
            <li>
                <div class="cart colorchange">
                    <i class="material-icons" id="warenkorb_open">shopping_cart</i>
                    <div><span class="cart_items">0</span></div>
                  </div>
            </li>
            <li>
                <div class="account colorchange">
                    <i class="material-icons" id="mein_account_open">dehaze</i>
                  </div>
            </li>
        </ul>
    </nav>
  </header>

  <!--Error Message-->
  <div id="error">
    <p class="error-message"><%= message %></p>
    <i class="material-icons" id="error_close">close</i>
  </div>
  <script>
    /*Wenn Error-Message leer, dann Error Div hidden*/
    if($(".error-message").html().length ==0)
      {
        $("#error").hide();
      }
    /*Wenn Error Hide geklickt wird, dann Error Div hidden*/
    $(document).ready(function(){
      $("#error_close").click(function(){
        $("#error").hide();
      });
    });
  </script>

  <body>
      <br><br><br><br><br><br>
      <form class="kontaktinformationen"action="/update_user" class="button" method="post">
        <p>Persönliche Daten</p>
        <label for="update_email">E-Mail:</label><br />
        <input
          type="email"
          id="update_email"
          name="update_email"
          value="<%= data[0].email %>"
        /><br />
        <label for="update_firstname">Vorname:</label><br />
        <input
          type="text"
          id="update_firstname"
          name="update_firstname"
          value="<%= data[0].firstname %>"
        /><br />
        <label for="update_lastname">Nachname:</label><br />
        <input
          type="text"
          id="update_lastname"
          name="update_lastname"
          value="<%= data[0].lastname %>"
        /><br />
        <p>Adresse</p>
        <label for="update_adress">Straße, Hausnummer:</label><br />
        <input
          type="text"
          id="update_adress"
          name="update_adress"
          value="<%= data[0].adress %>"
        /><br />
        <label for="update_postcode">PLZ, Stadt</label><br />
        <input
          type="text"
          id="update_postcode"
          name="update_postcode"
          value="<%= data[0].postcode %>"
        /><br /><br />
        <input type="submit" value="Kontaktinformationen anpassen" />
      </form>

      <form class="pw-change" action="/update_password" class="button" method="post">
        <p>Passwort</p>
        <label for="update_password">Neues Passwort:</label><br />
        <input
          type="password"
          id="update_password"
          name="update_password"
        /><br />
        <label for="update_password_repeat">Wiederholen:</label><br />
        <input
          type="password"
          id="update_password_repeat"
          name="update_password_repeat"
        /><br /><br />
        <input type="submit" value="Passwort ändern" />
      </form>

      <form class="account-delete" action="/user_delete" class="button" method="post">
        <p>Account löschen</p>
        <label for="delete_email">Email:</label><br />
        <input type="email" class="delete_email" id="delete_email" /><br />
        <label for="delete_password">Passwort:</label><br />
        <input
          type="password"
          class="delete_password"
          id="delete_password"
        /><br />
        <label for="delete_password_repeat">Wiederholen:</label><br />
        <input
          type="password"
          class="delete_password_repeat"
          id="delete_password_repeat"
        /><br /><br />
        <input type="submit" value="Löschen" />
      </form>
    
      
 
      
    
    <!-- Header -->
    <%- include('./partials/warenkorb.ejs') %><%-
    include('./partials/mein_account.ejs') %><%-
    include('./partials/register.ejs') %><%-
    include('./partials/meine_bestellungen.ejs') %><%-
    include('./partials/kasse.ejs') %>
    <!-- Daten -->
    <%- include('./partials/daten_pizzen.ejs') %> <%-
    include('./partials/daten_drinks.ejs') %><%-
    include('./partials/variables.ejs') %>
    <!-- Scripts -->
    <script src="javascript/modals.js"></script>
    <script src="javascript/warenkorb.js"></script>
    <script src="javascript/kasse.js"></script>
  </body>
</html>