<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="css/accountdetails_style.css"
    />
    <title>Accountdetails</title>
  </head>
  <body>
    <form action="/update_user" class="button" method="post">
      <p>Persönliche Daten</p>
      <label for="update_email">E-Mail:</label><br />
      <input
        type="email"
        id="update_email"
        name="update_email"
        value="<%= data[0].email %>"
      /><br />
      <label for="update_firstname">Vorname:</label><br />
      <input
        type="text"
        id="update_firstname"
        name="update_firstname"
        value="<%= data[0].firstname %>"
      /><br />
      <label for="update_lastname">Nachname:</label><br />
      <input
        type="text"
        id="update_lastname"
        name="update_lastname"
        value="<%= data[0].lastname %>"
      /><br />
      <p>Adresse</p>
      <label for="update_adress">Straße, Hausnummer:</label><br />
      <input
        type="text"
        id="update_adress"
        name="update_adress"
        value="<%= data[0].adress %>"
      /><br />
      <label for="update_postcode">PLZ, Stadt</label><br />
      <input
        type="text"
        id="update_postcode"
        name="update_postcode"
        value="<%= data[0].postcode %>"
      /><br /><br />
      <input type="submit" value="Kontaktinformationen anpassen" />
    </form>
    <form action="/update_password" class="button" method="post">
      <p>Passwort</p>
      <label for="update_password">Neues Passwort:</label><br />
      <input
        type="password"
        id="update_password"
        name="update_password"
      /><br />
      <label for="update_password_repeat">Wiederholen:</label><br />
      <input
        type="password"
        id="update_password_repeat"
        name="update_password_repeat"
      /><br /><br />
      <input type="submit" value="Passwort ändern" />
    </form>
    <form action="/user_delete" class="button" method="post">
      <label for="delete_email">Email:</label><br />
      <input type="email" class="delete_email" id="delete_email" /><br />
      <label for="delete_password">Passwort:</label><br />
      <input
        type="password"
        class="delete_password"
        id="delete_password"
      /><br />
      <label for="delete_password_repeat">Passwort:</label><br />
      <input
        type="password"
        class="delete_password_repeat"
        id="delete_password_repeat"
      /><br /><br />
      <input type="submit" value="Löschen" />
    </form>
    <p><%= message %></p>
  </body>
</html>
