<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet"  type="text/css" href="style.css">
    </head>
    <body>
        <h1>Details zu <%= benutzer.username%> </h1>
        <p>Vorname: <%= benutzer.firstname%></p>
        <p>Nachname: <%= benutzer.lastname%></p>
        <p>E-Mail: <%= benutzer.email%></p>
        <p>Passwort: <%= benutzer.password%></p>
        <p>
            <a href="/benutzerdaten">Zurück zur Liste</a>
        </p>
    </body>
</html>