<!DOCTYPE html>
<html>
  <head>
    <title>Kontaktliste</title>
  </head>
  <body>
    <table border="1">
      <tr>
        <td>ID</td>
        <td>Email</td>
        <td>Vorname</td>
        <td>Nachname</td>
        <td>Straße, Hausnummer</td>
        <td>PLZ, Stadt</td>
        <td>Passwort</td>
      </tr>
      <% for(var i = 0; i < kontakte.length; i++){ %>
      <tr>
        <td><%= kontakte[i].id %></td>
        <td><%= kontakte[i].email %></td>
        <td><%= kontakte[i].firstname %></td>
        <td><%= kontakte[i].lastname %></td>
        <td><%= kontakte[i].adress %></td>
        <td><%= kontakte[i].postcode %></td>
        <td><%= kontakte[i].password %></td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
