<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <h1>Pizzen</h1>
    <% for(var i = 0; i < pizzen.length; i++){ %>
    <button
      class="<%= pizzen[i].name %>_open"
      name="<%= pizzen[i].name %>_open"
    >
      <%= pizzen[i].name %>
    </button>
    <div
      class="<%= pizzen[i].name %>_container"
      id="<%= pizzen[i].name %>_container"
    >
      <div class="<%= pizzen[i].name %>" id="<%= pizzen[i].name %>">
        <h1><%= pizzen[i].name %></h1>
        <button
          class="<%= pizzen[i].name %>_open"
          name="close<%= pizzen[i].name %>_open"
        >
          Close
        </button>
      </div>
    </div>
    <% } %>
    <h1>Getränke</h1>
    <% for(var i = 0; i < drinks.length; i++){ %>
    <button
      class="<%= drinks[i].name %>_open"
      name="<%= drinks[i].name %>_open"
    >
      <%= drinks[i].name %>
    </button>
    <% } %>
    <script src="javascript/modals.js"></script>
  </body>
</html>
