<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
  </head>
  <body>
    <h1>Pizzen</h1>
    <% for(var i = 0; i < pizzen.length; i++){ %>
    <button class="<%= pizzen[i].name %>" name="<%= pizzen[i].name %>">
      <%= pizzen[i].name %>
    </button>
    <% } %>
    <h1>Getränke</h1>
    <% for(var i = 0; i < drinks.length; i++){ %>
    <button class="<%= pizzen[i].name %>" name="<%= pizzen[i].name %>">
      <%= drinks[i].name %>
    </button>
    <% } %>
  </body>
</html>
