<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
    <link rel="stylesheet" type="text/css" href="css/images.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <form action="/startseite" class="button" method="post">
      <button>PIZZAJANDO</button>
    </form>
    <br />
    <div class="cart">
      <i class="material-icons" id="warenkorb_open">shopping_cart</i>
      <div>
        <span class="cart_items">0</span>
      </div>
    </div>
    <br />
    <i class="material-icons" id="mein_account_open"> dehaze </i>
    <br />
    <h1>Pizzen</h1>
    <div class="pizzen_show_container" id="pizzen_show_container">
      <% for(var i = 0; i < pizzen.length; i++){ %>
      <a class="pizzen_open" id="pizzen_open"
        ><img src="images/pizza.jpg" /><%= pizzen[i].name %>
      </a>
      <% } %>
    </div>
    <%- include('./partials/daten_pizzen.ejs') %>
    <h1>Getränke</h1>
    <br />
    <div class="drinks_show_container" id="drinks_show_container">
      <% for(var i = 0; i < drinks.length; i++){ %>
      <a class="drinks_open" id="drinks_open">
        <img src="images/drink.jpg" /><%= drinks[i].name %>
      </a>
      <% } %>
    </div>
    <%- include('./partials/daten_drinks.ejs') %> <%-
    include('./partials/warenkorb.ejs') %> <%-
    include('./partials/mein_account.ejs') %> <%-
    include('./partials/bestellinformationen.ejs') %>
    <script src="javascript/modals.js"></script>
    <script src="javascript/warenkorb.js"></script>
  </body>
</html>
