<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
    <link rel="stylesheet" type="text/css" href="css/speisekarte_style.css" />
  </head>
  <body>
    <h1>Pizzen</h1>
    <% for(var i = 0; i < pizzen.length; i++){ %>
    <button class="<%= pizzen[i].name %>_open" id="<%= pizzen[i].name %>_open">
      <%= pizzen[i].name %>
    </button>
    <% } %> <% for(var i = 0; i < pizzen.length; i++){ %>
    <div
      class="<%= pizzen[i].name %>_container"
      id="<%= pizzen[i].name %>_container"
    >
      <div class="<%= pizzen[i].name %>" id="<%= pizzen[i].name %>">
        <h1><%= pizzen[i].name %></h1>
        <button
          class="<%= pizzen[i].name %>_close"
          id="<%= pizzen[i].name %>_close"
        >
          Close
        </button>
      </div>
    </div>
    <% } %>
    <h1>Getränke</h1>
    <% for(var i = 0; i < drinks.length; i++){ %>
    <button class="<%= drinks[i].name %>_open"><%= drinks[i].name %></button>
    <% } %> <% } %> <% for(var i = 0; i < drinks.length; i++){ %>
    <div
      class="<%= drinks[i].name %>_container"
      id="<%= drinks[i].name %>_container"
    >
      <div class="<%= drinks[i].name %>" id="<%= drinks[i].name %>">
        <h1><%= drinks[i].name %></h1>
        <button
          class="<%= drinks[i].name %>_close"
          id="<%= drinks[i].name %>_close"
        >
          Close
        </button>
      </div>
    </div>
    <% } %>
    <script src="javascript/speisekarte_modals.js"></script>
  </body>
</html>
