<!DOCTYPE html>
<html>
  <head>
    <title>Speisekarte</title>
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
  </head>
  <body>
    <form action="/startseite" class="button" method="post">
      <button>Startseite</button>
    </form>
    <br />
    <p class="cart">
      <button class="warenkorb_open" id="warenkorb_open">
        Warenkorb <span>0</span>
      </button>
    </p>
    <br />
    <h1>Pizzen</h1>
    <% for(var i = 0; i < pizzen.length; i++){ %>
    <button class="pizzen_open" id="pizzen_open"><%= pizzen[i].name %></button>
    <% } %> <% for(var i = 0; i < pizzen.length; i++){ %>
    <div class="pizzen_container" id="pizzen_container">
      <div class="pizzen" id="pizzen">
        <h1 class="pizzen_name"><%= pizzen[i].name %></h1>
        <p class="pizzen_preis"><%= pizzen[i].price %></p>
        <p class="pizzen_zutaten"><%= pizzen[i].ingredients %></p>
        <button class="product_add" id="product_add">
          Zum Warenkorb hinzufügen
        </button>
        <button class="pizzen_close" id="pizzen_close">X</button>
      </div>
    </div>
    <% } %>
    <h1>Getränke</h1>
    <% for(var i = 0; i < drinks.length; i++){ %>
    <button class="drinks_open"><%= drinks[i].name %></button>
    <% } %> <% for(var i = 0; i < drinks.length; i++){ %>
    <div class="drinks_container" id="drinks_container">
      <div class="drinks" id="drinks">
        <h1 class="drinks_name"><%= drinks[i].name %></h1>
        <p class="drinks_preis"><%= drinks[i].price %></p>
        <button class="product_add" id="product_add">
          Zum Warenkorb hinzufügen
        </button>
        <button class="drinks_close" id="drinks_close">X</button>
      </div>
    </div>
    <% } %>
    <div class="warenkorb_container" id="warenkorb_container">
      <div class="warenkorb" id="warenkorb">
        <h1>Warenkorb</h1>
        <div class="product_container">
          <div class="product_header">
            <h5 class="product_title">PRODUKT</h5>
            <h5 class="price">PREIS</h5>
            <h5 class="quantity">QUANTITY</h5>
            <h5 class="total">TOTAL</h5>
          </div>
          <div class="products"></div>
        </div>
        <br />
        <button class="warenkorb_close" id="warenkorb_close">X</button>
      </div>
    </div>
    <script src="javascript/modals.js"></script>
    <script src="javascript/speisekarte.js"></script>
    <script src="javascript/warenkorb.js"></script>
  </body>
</html>
