<!DOCTYPE html>
<html>
  <head>
    <title>Startseite</title>
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
    <link rel="stylesheet" type="text/css" href="css/kasse.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
  </head>
  <body>
    <form action="/startseite" class="button" method="post">
      <button>PIZZAJANDO</button>
    </form>
    <br />
    <form action="/speisekarte" class="button" method="post">
      <button>Speisekarte</button>
    </form>
    <br />
    <form action="/speisekarte" class="button" method="post">
      <button>Hier Bestellen</button>
    </form>
    <br />
    <div class="cart">
      <i class="material-icons" id="warenkorb_open">shopping_cart</i>
      <div>
        <span class="cart_items">0</span>
      </div>
    </div>
    <br />
    <i class="material-icons" id="mein_account_open">dehaze</i>
    <p><%= message %></p>
    <!-- Header -->
    <%- include('./partials/warenkorb.ejs') %><%-
    include('./partials/mein_account.ejs') %><%-
    include('./partials/register.ejs') %><%-
    include('./partials/meine_bestellungen.ejs') %><%-
    include('./partials/kasse.ejs') %>
    <!-- Daten -->
    <%- include('./partials/daten_pizzen.ejs') %> <%-
    include('./partials/daten_drinks.ejs') %>
    <!-- Scripts -->
    <script src="javascript/modals.js"></script>
    <script src="javascript/warenkorb.js"></script>
    <script src="javascript/kasse.js"></script>
  </body>
</html>
