<!DOCTYPE html>
<html>
  <head>
    <title>Startseite | Pizzajando</title>
    <link rel="stylesheet" type="text/css" href="css/modals.css" />
    <link rel="stylesheet" type="text/css" href="css/warenkorb.css" />
    <link rel="stylesheet" type="text/css" href="css/kasse.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!--Design-->
    <link rel="stylesheet" type="text/css" href="css/general-style.css" />
    <link rel="stylesheet" type="text/css" href="css/startseite.css" />
    <link rel="stylesheet" type="text/css" href="css/variables.css" />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
  <!--Header-->
  <header>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#ff8000" fill-opacity="0.9" d="M0,160L120,176C240,192,480,224,720,224C960,224,1200,192,1320,176L1440,160L1440,0L1320,0C1200,0,960,0,720,0C480,0,240,0,120,0L0,0Z"></path>
    </svg>
    <a class="logo colorchange" href="/">Pizzajando</a>
    <nav>
        <ul class="nav-list">
            <li>
                <div class="cart colorchange">
                    <i class="material-icons" id="warenkorb_open">shopping_cart</i>
                    <div><span class="cart_items">0</span></div>
                  </div>
            </li>
            <li>
                <div class="account colorchange">
                    <i class="material-icons" id="mein_account_open">dehaze</i>
                  </div>
            </li>
        </ul>
    </nav>
  </header>
  <!--Error Message-->
  <div id="error">
    <p class="error-message"><%= message %></p>
    <i class="material-icons" id="error_close">close</i>
  </div>
  <script>
    /*Wenn Error-Message leer, dann Error Div hidden*/
    if($(".error-message").html().length ==0)
      {
        $("#error").hide();
      }
      /*Wenn Error Hide geklickt wird, dann Error Div hidden*/
    $(document).ready(function(){
      $("#error_close").click(function(){
        $("#error").hide();
      });
    });
  </script>
<!--Bestell-Button-->
<div class="home-content">
    <form action="/speisekarte" method="post">
        <button>
            Hier Bestellen
        </button>
    </form>
</div>
      <!-- Header -->
      <%- include('./partials/warenkorb.ejs') %>
      <%-include('./partials/mein_account.ejs') %>
      <%-include('./partials/register.ejs') %>
      <%-include('./partials/meine_bestellungen.ejs') %>
      <%-include('./partials/kasse.ejs') %>
      <!-- Daten -->
      <%- include('./partials/daten_pizzen.ejs') %>
      <%-include('./partials/daten_drinks.ejs') %>
      <%-include('./partials/variables.ejs') %>
      <!-- Scripts -->
      <script src="javascript/modals.js"></script>
      <script src="javascript/warenkorb.js"></script>
      <script src="javascript/kasse.js"></script>
  </body>
</html>
